@import url("/css/obsidian-replica.css");

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.ob-hat-btn.ob-hat-danger:hover {
  color: #f87171;
}

a.ob-hat-btn {
  text-decoration: none;
}
